.user-profile{
    background-color: #1A1A40;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5rem 0 1.5rem 0;
    color: white;
}
.user-profile p{
   font-weight: bold;
   font-size: 15px;
}
.user-profile button{
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.user-profile img {
    box-shadow: 0 0 50px #dfbdff;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    align-items: center;
}

.user-profile-down{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 3rem;


}
.user-info{
    margin-top: 5rem;
    width: 25%;
    float: left
}
.user-resource{
    width: 50%;
}
.user-following{
    margin-top: 5rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    float: right;
}
