.user-page-card{
    background-color: #fff;
    margin: auto;
    width: 90%;
    border: 0;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    box-shadow: 0 0 10px 1px#00000022;

}
.user-page-card button{
    background-color: #1A1A40;
    color: white;
    width: 100%;
    border: 0;
    border-radius: 30px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
