.user-page-header{
    background-color: #1A1A40;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-between;
    height: 80px;
}

.user-page-info{
    display: inline-flex;
    gap: 2rem;

}
.user-page-info img{
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
}
.user-page-info button{
    border: 0;
    border-radius: 50%;
    background-color:transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-right: 10px;
}
.user-page-logo h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
  }
  .user-page-logo span{
    color: #7A0BC0;
    font-family: 'Josefin Sans', sans-serif;
  }

  .user-page-search {
    position: relative;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 50px;
  }
  
  .user-page-search input {
    background: transparent;
    border: 0;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex-grow: 1;
    margin-right: 10px;
  }
  
  ::placeholder {
    color: #00000030;
  }
  
  .user-page-search button {
    width: 60px;
    height: 40px;
    cursor: pointer;
    flex-shrink: 0;
    background: transparent;
    border: none;
  
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #00000030;
    z-index: 100;
  }
  .search-results img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  .users-search{
    display: flex;
  align-items: center;
gap: 1rem; }

