.login-page{
    background-color: #37018e;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
}
#form-item input{
    padding-left: 15px;
}

.form-item-file{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.login-card {
    width: 450px;
    background: rgba(255, 255, 255, 0.5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.login-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}

.login-card-logo {
    margin-bottom: 0.5rem;
}

.login-card-logo img {
    width: 100px;
}

.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
}
login-card-frgt-pwd{
    text-decoration: none;
    color: #35339a;

}
login-card-frgt-pwd:hover{
    text-decoration: underline;
}
new-acc{
    text-decoration: none;
    color: #35339a;

}
new-acc{
    text-decoration: underline;
}



.login-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.login-card-header h1+div {
    font-size: calc(1rem * .8);
    opacity: .8;
}

.login-card-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;
    z-index: 2;


}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: relative;
    top: 2rem;
    left: 1.4rem;
    opacity: .7;
}
.login-card-form .form-item .form-item-icon-eye{
    position: relative;
    bottom: 2rem;
    left: 18rem;
    opacity: .7;
}

.form-item .form-item-icon{
    position: relative;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.login-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
    flex: 1;
}

.login-card input:focus {
    background: white;
}



.login-card-form button{
    border: none;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    width: 100%;
}

.login-card-form button:hover{
    color: #ffffff;
    cursor: pointer;
    background-color:#37018e ;
}

.login-card-social {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.login-card-social>div {
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}

.login-card-social-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-card-social-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 100px;
    transition: all .5s;
}

.login-card-social-btns a:hover {
    background-color: white;
    transform: scale(1.1);
}

@media (max-width: 768px) {

    body {
        padding: 2rem 0;
    }

    .login-card {
        width: 280px;
        padding: 2rem;
    }

}

.ress-desc{
    height: 150px;
}
