.resource-page{
    padding: 0 2rem;
}

.resource-page-header{
    display: inline-flex;
    gap: 1.1rem;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    height: 60px;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px 1px#00000022;
}

.resource-page-header > button,
.resource-page-header > a { 
    border: 0;
    border-radius: 30px;
    background-color: #7A0BC0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;    
    max-width: 25%;
    min-width: 15%;
    height: 40px;
}
.resource-page-header > a > button{
    width: 100%;
    background: none;
    border: none;
}
.resource-page-header  button > svg{
    cursor: pointer;
}


.Post
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}


