.home-page-resources{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 1px#00000022;
}
.resource-user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
.download-button{
    background-color: #7A0BC0;
    color: #fff;
    margin-top: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-family: 'Roboto' sans-serif;
    cursor: pointer;
    border: 1px solid #7A0BC0;
    transition: 0.3s;
}
.download-button:hover{
    background-color: #fff;
    color: #7A0BC0;
}

.resource-user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.resource-user-profile img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.resource-user-profile span{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto' sans-serif;
}

.resource-user-info p,h4{
    font-size: 15px;
    font-family: 'Roboto' sans-serif;
}

.resource-user-info img{
    width: 13cm;
    height: 8cm;
    border-radius: 10px;
}
.resource-user-profile a{
    background: none;
    color: black;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif ;

}
.resource-user-profile a:hover{

    color: #7A0BC0;

}

